@inherits LayoutComponentBase

<div class="page">
    <div class="layout-grid">
        <NavMenu />
        <div style="margin-left: 50px;">
            <Chat />
        </div>
    </div>

    <main>
        <article class="content">
            @Body
        </article>
    </main>
</div>

