@rendermode InteractiveServer

<SfSidebar Width="250px" @bind-IsOpen="isSidebarOpen" DockSize="50px" EnableDock="true">
    <ChildContent>

        <a @onclick="ToggleSidebar" class="nav-toggler">
            <img src="/icons/left-bar/leftbar-toggle.svg" alt="">
        </a>

        <div>
            <a @onclick="ToggleSidebar" class="nav-toggler">
                <img src="/icons/left-bar/leftbar-toggle.svg" alt="">
            </a>
            <a @onclick="ToggleSidebar" class="nav-toggler">
                <img src="/icons/left-bar/leftbar-toggle.svg" alt="">
            </a>
            <a @onclick="ToggleSidebar" class="nav-toggler">
                <img src="/icons/left-bar/leftbar-toggle.svg" alt="">
            </a>
            <a @onclick="ToggleSidebar" class="nav-toggler">
                <img src="/icons/left-bar/leftbar-toggle.svg" alt="">
            </a>
        </div>

        <div style="text-align: center;" class="text-content"> Sidebar </div>
    </ChildContent>
</SfSidebar>

<style>

    .nav-toggler {
        position: absolute;
        top: 60px;
        left: 15px;
    }

    .e-sidebar {
        background-color: rgba(0, 0, 0, 0.9);
        color: beige;
        overflow: hidden;
    }

/*     .main > div {
        padding: 0px !important;
    } */

</style>


@code{
    private bool isSidebarOpen = false;

    private void ToggleSidebar()
    {
        // Toggle the sidebar's open state using a ternary operator
        isSidebarOpen = isSidebarOpen ? false : true;
    }
}