.nav-toggler {
    position: absolute;
    top: 60px;
    left: 10px;
}

.top-bar-icons {
    position: absolute;
    top: 120px;
    left: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.bottom-bar-icons {
    position: absolute;
    bottom: 110px;
    left: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}



    a {
        display: flex;
        gap: 35px;
        width: 28px;
        height: 28px;
        padding: 5px;
    }

    a:hover {
        border-radius: 5px;
        background-color: rgba(91, 138, 228, 0.34);
    }

.left-bar-icon {
    width: 17px;
    height: 17px;

}

.description {
    white-space: nowrap;
}

.message-icon {
    position: relative;
}

.message-badge {
    background-color: rgba(2, 172, 172, 1);
    margin-top: 40px;
    font-size: .6rem;
    cursor: default;
}

p {
    margin-top: 1px;
}