@rendermode InteractiveServer

<SfSidebar ID="LeftBar" Width="250px" @bind-IsOpen="isSidebarOpen" DockSize="50px" EnableDock="true">
    <ChildContent>

        <a @onclick="ToggleSidebar" class="nav-toggler">
            <img class="left-bar-icon" src="/icons/left-bar/leftbar-toggle.svg" alt="">
        </a>

        <div class="top-bar-icons">
            <a @onclick="ToggleSidebar">
                <img class="left-bar-icon" src="/icons/left-bar/archive-icon.svg" alt=""> 
                <span class="description">Archived Chats</span>
            </a>
            <a @onclick="ToggleSidebar" class="">
                <div class="badge-block">
                    <img class="message-icon" style="height: 20px;" src="/icons/left-bar/double-chat-icon.svg" alt="">
                    <span class="e-badge e-badge-overlap e-badge-circle message-badge"><p>99+</p></span>
                    <span class="description">Archived Chats</span>
                </div>
            </a>
            <a @onclick="ToggleSidebar">
                <img style="height: 17px;" src="/icons/left-bar/phone-icon.svg" alt="">
            </a>
            <a @onclick="ToggleSidebar">
                <img src="/icons/left-bar/starred-message-icon.svg" alt="">
            </a>
        </div>

        <div class="bottom-bar-icons">
            <a @onclick="ToggleSidebar">
                <img style="width: 17px;" src="/icons/left-bar/settings-icon.svg" alt="">
            </a>
            <a @onclick="ToggleSidebar">
                <img style="height: 17px;" src="/icons/left-bar/profile-icon.svg" alt="">
            </a>
        </div>

        <div style="text-align: center;" class="text-content"> Sidebar </div>
    </ChildContent>
</SfSidebar>
<style>
    #LeftBar {
        background-color: rgba(0, 0, 0, 0.9);
        color: beige;
        overflow: hidden;
        border-radius: 15px 0 0 15px;
        border-right: 1px solid #1B7794;
    }
</style>

@code{
    private bool isSidebarOpen = false;

    private void ToggleSidebar()
    {
        // Toggle the sidebar's open state using a ternary operator
        isSidebarOpen = isSidebarOpen ? false : true;
    }
}