@rendermode InteractiveServer

<SfSidebar ID="LeftBar" Width="220px" @bind-IsOpen="isSidebarOpen" DockSize="50px" EnableDock="true">
    <ChildContent>

        <a @onclick="ToggleSidebar" class="nav-toggler">
            <img style="width: 15px; height: 15px;" src="/icons/left-bar/leftbar-toggle.svg" alt="toggle icon">
        </a>

        <div class="top-bar-icons">
            <a @onclick="ToggleSidebar" class="icon-wrapper">
                <div class="badge-block">
                    <img class="message-icon" src="/icons/left-bar/double-chat-icon.svg" alt="double chat icon">
                    <span class="e-badge e-badge-overlap e-badge-circle message-badge"><p>99+</p></span>
                    <span class="description">Chats</span>
                </div>
            </a>
            <a @onclick="ToggleSidebar" class="icon-wrapper">
                <img style="height: 17px;" src="/icons/left-bar/phone-icon.svg" alt="phone icon">
                <span class="description">Calls</span>
            </a>
            <a @onclick="ToggleSidebar" class="icon-wrapper">
                <img class="left-bar-icon" src="/icons/left-bar/archive-icon.svg" alt="archive icon"> 
                <span class="description">Archived Chats</span>
            </a>
            <a @onclick="ToggleSidebar" class="icon-wrapper">
                <img class="left-bar-icon" src="/icons/left-bar/starred-message-icon.svg" alt="star icon">
                <span class="description">Starred</span>
            </a>
        </div>

        <div class="bottom-bar-icons">
            <a @onclick="ToggleSidebar" class="icon-wrapper">
                <img style="width: 17px;" src="/icons/left-bar/settings-icon.svg" alt="settings icon">
                <span class="description">Settings</span>
            </a>
            <a @onclick="ToggleSidebar" class="icon-wrapper">
                <img style="height: 17px;" src="/icons/left-bar/profile-icon.svg" alt="profile icon">
                <span class="description">Profile</span>
            </a>
        </div>

    </ChildContent>
</SfSidebar>
<style>
    #LeftBar {
        background-color: rgba(0, 0, 0, 0.9);
        color: beige;
        overflow: hidden;
        border-radius: 15px 0 0 15px;
        border-right: 1px solid #1B7794;
    }
</style>

@code{
    private bool isSidebarOpen = false;

    private void ToggleSidebar()
    {
        // Toggle the sidebar's open state using a ternary operator
        isSidebarOpen = isSidebarOpen ? false : true;
    }
}