@page "/"


<PageTitle>Loomon</PageTitle>

<div class="text-content" style="text-align: center;">Main content</div>

<style>
    .text-content {
        font-size: 1.5rem;
        padding: 3rem;
    }
</style>